.MuiChip-label {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block !important;
}

.MuiChip-colorPrimary{
  color: #fff;
  background-color: #0285bb;
  margin: 5px;
}
